@use "../abstracts/" as *;

// header 영역 버튼
.header__open-search-form-btn {
  margin-right: 2.4rem;
  color: $carouselGray10;
  transition: all 0.2s;
}

.header__cancel-btn {
}

.header__search-submit {
  color: $white;
  color: $carouselGray10;
  transition: all 0.2s;
}

.header__bookmark-btn {
  display: inline-block;
  width: min-content;
  white-space: nowrap;

  span {
    color: $fontGray20;
    font-size: 2rem;

    &:hover {
      color: $fontGray30;
    }
  }
}

// main 페이지 버튼
.main__seedetail-btn {
  width: 16rem;
  background-color: $btnGray;
  color: $white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  span {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1.6rem;
    &::after {
      position: absolute;
      left: 12rem;
      top: 0.1rem;
      content: "";
      @include bg(btn-arrow);
      width: 3rem;
      height: 2rem;
    }
    .light & {
      color: $white;
    }
  }

  &:hover {
    background-color: $primary;
  }

  .light & {
    background-color: $primary;

    &:hover {
      background-color: $btnGray;
    }
  }
}

.new__swiper-btn-prev,
.classic__swiper-btn-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
  background-color: $swiperBtn;
  img {
    width: 5rem;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.new__swiper-btn-next,
.classic__swiper-btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  background-color: $swiperBtn;
  opacity: 0;
  transition: opacity 0.2s ease;
  img {
    width: 5rem;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.swiper-wrapper:hover .new__swiper-btn-prev,
.swiper-wrapper:hover .new__swiper-btn-next {
  opacity: 1;
}

.swiper-wrapper:hover .classic__swiper-btn-prev,
.swiper-wrapper:hover .classic__swiper-btn-next {
  opacity: 1;
}

// searchResult 페이지 버튼
.search__searchbar-btn {
  padding-right: 2rem;
  & svg {
    fill: $white;
    width: 2rem;
    height: 2rem;
    .light & {
      fill: $bgBlack;
    }
  }
}

// top 버튼
.common__top-btn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 10;
  background-color: $white;
  border: 0.2rem solid $fontGray10;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: $bgBlack;

  &:hover {
    color: $white;
    background-color: $bgBlack;
  }
  .light & {
    background-color: $primary;
    color: $white;
  }
}

// dark/ light 모드 버튼

.common__lightMode-btn {
  position: fixed;
  bottom: 9rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  @include bgCenter(ico-darkmode);
  background-color: $white;
  border: 0.1rem solid $bgBlack;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.dark {
  background-color: $bgBlack;
}

.light {
  background-color: $white;
}

// detail 페이지 버튼

.detail__share-btn {
  position: absolute;
  top: 0rem;
  right: 22rem;
  width: 3rem;
  aspect-ratio: 1;
  @include bg(ico_share);

  span {
    @include a11y-hidden;
  }

  &:hover {
    @include bg(ico_share_primary);
  }

  .light & {
    @include bg(ico_share_black);

    &:hover {
      @include bg(ico_share_primary);
    }
  }
}

.detail__bookmark-btn {
  position: absolute;
  top: 0rem;
  right: 16rem;
  width: 3rem;
  aspect-ratio: 1;

  span {
    @include a11y-hidden;
  }

  &:hover {
    width: 3rem;
    aspect-ratio: 1;
    @include bgCenter(ico_bookmark_primary);
    background-size: cover;
  }
}

.detail__goback-btn {
  position: absolute;
  top: 0rem;
  right: 9.7rem;
  width: 3rem;
  aspect-ratio: 1;
  @include bg(ico_backspace);

  span {
    @include a11y-hidden;
  }

  &:hover {
    @include bg(ico_backspace_primary);
  }

  .light & {
    @include bg(ico_backspace_black);

    &:hover {
      @include bg(ico_backspace_primary);
    }
  }
}
