$primary: #f85858;
$secondary: #fee098;
$bgDot: #ff014c;
$white: #ffffff;
$fontGray10: #f8f8f8;
$fontGray20: #cecece;
$fontGray30: #b8b8b8;
$carouselGray10: #aaaaaa;
$carouselGray20: #4d4d4d;
$btnGray: #353534;
$bgUnderline: #ffffff66;
$bgBlack: #141414;
$swiperBtn: #8d8d8d33;
$horizontalLine: #504a7980;
$--swiper-theme-color: #ffffff;
$mainGradientcolor: linear-gradient(90deg, $primary, $secondary);
$titleFont: "Bebas Neue", sans-serif;
